@model Category

<form method="post">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete category</h2>
            <hr />
            <input asp-for="ID" hidden />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled />
          

        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" disabled />

        </div>
        <div class="row">
            <div class="col-3 form-control">  <button type="submit" class="btn btn-danger">Delete</button></div>
            <div class="col-3 form-control">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>

        </div>

    </div>



</form>

