@model List<Product>
<partial name="_NotificationPartial" />
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a a asp-action="Create" class="btn btn-primary">Add a new category</a>
        </div>
    </div>


    <table id="tbData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                
                <th>ISBN</th>
                <th>Author</th>
                <th>Category</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            <!-- DataTables will dynamically fill this section with data -->
        </tbody>


    </table>
</div>



@section Scripts{
    <script src="~/js/product.js"></script>
}